# Core
Django==4.2.9
python-dotenv==1.0.0
requests==2.31.0

# Database
mysqlclient==2.2.1

# Forms and UI
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
django-cors-headers==4.3.1
Pillow==10.1.0

# Phone Numbers
django-phonenumber-field==7.3.0
phonenumbers==8.13.0

# API
djangorestframework==3.14.0

# Production
gunicorn==21.2.0
whitenoise==6.6.0
